{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----======== CSS ======== -->
    <link href="{% static 'css/trackstatus.css'%}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="./trackstatus.css"> -->
    <title>LMS | Track Status</title>
</head>
<body>
    <div class="wrapper">
        <nav>
        <div class="content">
            <div class="logo"><a href="#">LMS</a></div>
            <ul class="links">
                <li><a href="{% url 'user-w' %}">Home</a></li>
                <li><a href="{% url 'order-req' %}">Laundry Request</a></li>
                <li><a href="{% url 'track-sts' %}">Track Status</a></li>
            </ul>
        </div>
        <div class="rightlink"><a href="http://localhost:8000">Logout</a></div>
        </nav>
    </div>

    <form action="trackingdetails" method="post">
        {% csrf_token %}
        {% load static %}
        <div class="status">
            <div class="input">
                <input type="text" placeholder="Enter Tracking Id" name='TrackingId'>
            </div>
            <div class="submit">
                <button>Track</button>
            </div>
        </div>
    </form>
      <!-- bubbles back ground -->
  <section class="sticky">
    <div class="bubbles">
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <!-- <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div> -->
    </div>
  </section>
  <!-- end background -->
</body>
</html>
{% endblock content %}