@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  /* color: #d9d9d9; */
}


 body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0c77a9;
 }
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.wrapper {
  background: #171c24;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.wrapper nav {
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}
nav{
  z-index: 3;
}
nav .content {
  display: flex;
  align-items: center;
   
}

nav .content .links {
  margin-left: 80px;
  display: flex;
}

.content .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.rightlink a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.content .links li {
  list-style: none;
  line-height: 70px;
}

.content .links li a,
.content .links li label {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.content .links li label {
  display: none;
}

.content .links li a:hover,
.content .links li label:hover {
  background: #323c4e;
}


.wrapper input[type="checkbox"] {
  display: none;
}

/* Dropdown Menu code start */
.content .links ul {
  position: absolute;
  background: #171c24;
  top: 80px;
  /* z-index: 3; Remove or adjust this line  */
  opacity: 0;
  visibility: hidden;
}

.content .links li:hover>ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.content .links ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px !important;
}

.content .links ul ul {
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}

.content .links ul li {
  position: relative;
}

.content .links ul li:hover ul {
  top: 0;
}




#home {
  display: flex;
  flex-direction: column;
  /* padding:3px 70px; */
  height: 100vh;
  justify-content: center;
  /* align-items: center; */
}

#home::before {
  content: "";
  position: absolute;
  background: url('../images/backgroud.jpg') no-repeat center center/cover;
  height: 100vh;
  top: 48px;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0.89;
}

#home h1 {
  width: 40vw;
  color: rgb(255, 255, 255);
  text-shadow: -15px 15px 8px rgb(0 0 0);
  text-align: center;
  font-family: 'Sevillana', cursive;
  font-size: 4.6rem;
}

.list5{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}


.subheading{
  display: flex;
  justify-content: space-evenly;
}

.subheading h3{
  display: flex;
  width: 150px;
  height: 50px;
  color: white;
  padding: 5px;
  background: #171c24;
  border: 2px outset #9d9d9d;
  border-radius: 10px;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
  font-family: 'Caramel', cursive;
  font-size: 2rem;
  font-weight: 100;
}

.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
.footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #111;
  color: white;
  z-index: 3;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #0c77a9;
}
.bottom center span{
  color: #000000;
}
.bottom center a{
  color: #fff;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  .footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
